@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@700&display=swap');
:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-size:15px;
    font-family:"Overpass";
    background:var(--Very-Dark-Blue);
    color:var(--White);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.main-container,.thanks-container{
    width:320px;
    background:var(--Dark-Blue);
    padding:1.5rem;
    border-radius:1.5rem;
    display:flex;
    flex-direction:column;
    gap:1.2rem;
}
.main-container img{
    width:35px;
    height:35px;
    background:hsla(217, 12%, 63%, 0.115);
    border-radius:50%;
    padding:0.7rem;
}
.main-container h2{ font-weight:400;}
    .main-container p,.thanks-container p{
    font-weight:400;
    font-size:0.8rem;
    color:hsla(0, 0%, 100%, 0.542);
    line-height:1.2rem;
}
ul{
    display:flex;
    justify-content:space-evenly;
    gap:1rem;
}
ul li{list-style:none;}
.btn{
    font-weight:700;
    width:40px;
    height:40px;
    border:transparent;
    background:hsla(217, 12%, 63%, 0.115);
    border-radius:50%;
    color:hsla(0, 0%, 100%, 0.542);
    cursor:pointer;
}
.btn:hover{background:var( --Orange);color:var(--White);}
.btn:focus{background:var( --Light-Grey);color:var(--White);}
.btn-submit,.btn-reset{
    background:var(--Orange);
    color:var(--White);
    border:none;
    padding:0.6rem;
    border-radius:2rem;
    text-transform:uppercase;
    letter-spacing:0.1rem;
    cursor:pointer;
}
.btn-submit:hover,.btn-reset:hover{background:var(--White);color:var(--Orange);}
.thanks-container{
    align-items:center;
}
.hidden{display:none;}
.thanks-container p:nth-child(2){
    color:var(--Orange);
    background:hsla(217, 12%, 63%, 0.115);
    padding:0.2rem 0.7rem 0;
    border-radius:2rem;
}
.thanks-container p{text-align:center;}
.btn-reset{
    padding-left:4rem;
    padding-right:4rem;
}
@media (max-width:342px){
    .main-container{
        margin:0 1.5rem;
    }
}